

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

tr.red {
  color: #a94442;
  background-color: #f2dede;
}

tr.yellow {
  color: #8a6d3b;
  background-color: #fcf8e3;
}

tr.blue {
  color: #31708f;
  background-color: #d9edf7;
}

tr.green {
  color: #3c763d;
  background-color: #dff0d8;
}














